*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:100%;
    font-family:Inter,Segoe UI,sans-serif;
    background:#F8FAFC;
    color:#0F172A;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    font-family:inherit;
}

input{
    font-family:inherit;
}

body{
    overflow-x:hidden;
}