.layout-content-grid {
    display: grid;
    grid-template-columns: 65fr 35fr;
    gap: 14px;
    align-items: start;
    width: 100%;
}

.layout-content-left,
.layout-content-right,
.layout-content-grid > .main-content,
.layout-content-grid > .side-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media(max-width: 1100px) {
    .layout-content-grid {
        grid-template-columns: 1fr;
    }
}
