.loader-wrapper{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.loader{

    width:45px;

    height:45px;

    border:5px solid var(--border);

    border-top:5px solid var(--primary);

    border-radius:50%;

    animation:spin .8s linear infinite;

}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}